html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #f0f0f0;
}

#button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

#ageVerification {
    background-color: #4c8baf;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

#ageVerificationContainer {
    display: flex;
    flex-direction: row;
}